@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:wght@400;700&display=swap');

:root {
	--primary: #866eff;
	--fg: #fff;
	--primary-rgb: 158, 139, 255;
	--primary-lighter: #a896ff;

	--background-primary-rgb: 22, 22, 26;
	--background-secondary-rgb: 33, 33, 38;
	--background-tertiary-rgb: 55, 55, 64;
	--background-primary: rgba(var(--background-primary-rgb), 1);
	--background-secondary: rgba(var(--background-secondary-rgb), 1);
	--background-tertiary: rgba(var(--background-tertiary-rgb), 1);

	--border-color: rgba(32, 38, 50, .9);
	--brand-gradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);

	--bs-primary-color: var(--primary);
	--bs-primary-rgb: var(--primary-rgb);
	--bs-body-bg: var(--background-primary);
	--bs-body-bg-rgb: var(--background-primary-rgb);
	--bs-tertiary-bg: var(--background-tertiary);
	--bs-tertiary-bg-rgb: var(--background-tertiary-rgb);

	--bs-btn-bg: var(--primary);

	--color-red: #f25c5c;
	--color-green: #55b682;
	--color-blue: #7aaaff;
	--color-yellow: #ff9c6a;

	--publication-cancelled: var(--color-red);
	--publication-completed: var(--color-blue);
	--publication-ended: var(--color-blue);
	--publication-hiatus: var(--color-yellow);
	--publication-ongoing: var(--color-green);
}

.navbar {
	background-color: rgba(var(--background-primary-rgb), 0.5) !important;
	transition: backdrop-filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-color: #00000000 !important;
	z-index: 1;
}

html:not([data-scroll='0']) .navbar {
	border-bottom: var(--primary) var(--pico-border-width) solid;
	border-color: var(--primary) !important;
	backdrop-filter: blur(5px);
	background-color: rgba(var(--background-primary-rgb), 0.9) !important;
}

.navbar {
	margin-bottom: 0.8em;
	//justify-content: space-between;
}

.fixed-top {
	position: sticky;
	top: 0;
}

.logo {
	width: auto;
	height: 2.25em;
}

h1, h2, h3, h4, h5, h6, span {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

p {
	font-family: 'Poppins', sans-serif;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.grid {
	align-items: start;
}

.col-1 {
	flex-direction: column;
	grid-template-columns: 1fr;
}

.gy-0 {
	grid-row-gap: 0;
}

.mb-0 {
	margin-bottom: 0;
}

/* Series Cards */
.series-card {
	width: 15rem;
	display: inline-block;
}

.series-card .title {
	font-size: 0.8rem;
}

.series-card img {
	//overflow: hidden;
	//object-fit: cover;
}

/* Series Page */
.bg-image-backdrop {
	background-size: cover;
	background-position-y: -50px;
	width: 100%;
	position: fixed;
}

.series-bg-image {
	top: 0;
	left: 0;
	height: 15rem;
	z-index: -1;
}

.series-page .seethrough {
	height: 12vh;
	position: fixed;
	top: 0;
}

.series-page .info {
	display: grid;
	gap: 1rem;
	grid-template-areas:
	"left cover names right"
	"left cover buttons right"
	"left cover tagandpub right"
	"left cover stats right"
	"left cover padding right"
	"left synopsis synopsis right"
	"left content content right";
	grid-template-columns: 1fr 200px minmax(0, calc(1240px - 3.5rem)) 1fr;
}

.series-page .cover {
	//width: 10rem;
	border-radius: 0.2em;
	grid-area: cover;
}

.series-page .names {
	grid-area: names;
	flex-direction: column;
	justify-content: flex-end;
	height: 9.5em;
}

.series-page .names .title {
	font-size: 4rem;
	margin-bottom: 0;
}

.series-page .names .subtitle {
	font-size: 1.1rem;
}

.series-page .buttons {
	grid-area: buttons;
}

.series-page .tagandpub {
	grid-area: tagandpub;
	gap: 0.7vmax;
	align-items: center;
}

.publication {
	gap: 0.2em;
	font-weight: 700;
	font-size: calc(10px + 0.2vmin);
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.ico-gap {
	display: flex;
	gap: 0.4em;
	align-items: baseline;
}

.info-extras {
	column-gap: 1rem;
	max-width: 400px;
	row-gap: 0.4rem;
}

/* Auth Pages */
.fullscreen {
	height: 100vh;
}

.auth {
	background: 8rem no-repeat url(https://64.media.tumblr.com/f9aad75f592b0d3cf912c1b6de294c6c/37b95bb9c72f7615-6a/s1280x1920/4a3a9a21c92a7724963c80274fb21585395d3535.png),#111!important;
	background-position: bottom left calc(50% + 25vw)!important;
	background-size: min(720px,40%);
}

.auth-head {
	gap: 0.5rem;
}

.auth-content {
	padding: 20px 40px 20px;
}

.auth .card-footer {
	display: flex;
	gap: 0.5em;
	padding: 0.8em;
}

.auth p {
	margin-bottom: 0;
}

.splash .card {
	box-shadow: 0 0 20px 20px #0000004d;
}

.auth-content label {
	font-family: 'League Spartan', sans-serif;
}

.auth-content h1 {
	font-family: 'League Spartan', sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: center;
}

.auth-content .btn {
	width: 100%;
}

.splash .group h1, h2 {
	font-family: 'League Spartan', sans-serif;
	font-weight: 600;
	text-align: center;
}

/* Splash End */

a {
	text-decoration: none;
}

[class^="icon-"], [class*=" icon-"] {
	margin-right: 0.2rem;
	vertical-align: middle;
}

.tag-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 0.5rem;
	row-gap: 0.2rem;
}

.tag {
	--bs-badge-border-radius: 0.2rem;
}

.btn {
	--bs-border-radius: 0.25rem;
	--bs-border-radius-lg: 0.25rem;
	--bs-btn-font-weight: 600;
}

.btn-primary {
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--primary);
	--bs-btn-border-color: var(--primary);
	--bs-btn-hover-color: var(--bs-white);
	//--bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
	//--bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
	--bs-btn-focus-shadow-rgb: var(--bd-primary-rgb);
	//--bs-btn-active-color: var(--bs-btn-hover-color);
	//--bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
	//--bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.publication .icon-circle[data-publication="ongoing"] {
	color: var(--publication-ongoing);
}

.publication .icon-circle[data-publication="cancelled"] {
	color: var(--publication-cancelled);
}

.publication .icon-circle[data-publication="completed"] {
	color: var(--publication-completed);
}

.publication .icon-circle[data-publication="ended"] {
	color: var(--publication-ended);
}

.publication .icon-circle[data-publication="hiatus"] {
	color: var(--publication-hiatus);
}

input {
	--bs-focus-ring-color: rgba(125, 100, 255, .5)
}

.navbar .dropdown-menu {
	position: absolute;
	inset: 0px 0px auto auto;
	transform: translate(0px, 40px);
}

.dropdown-menu hr {
    opacity: 1;
    margin: 0.5rem;
}

.drop-item {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: nowrap;
    //padding: 0.3em 1em;
    font-weight: bold;
    border-radius: 0.2em;
    transition: background-color 0.1s ease-in-out;
}

.drop-item:hover {
    background-color: var(--primary);
    color: var(--fg);
}

.drop-item-text, .drop-item-icon {
    color: var(--fg);
}

.drop-item-text {
    text-decoration: none;
}

.featured-carousel-controls {
	    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* width: 20rem; */
    position: absolute;
    align-content: flex-end;
    bottom: 0;
    right: 0;
    gap: 3rem;
}

.featured-carousel-controls {
	margin-right: 2rem;
}

.featured-carousel-controls span {
	font-size: 2rem;
}

.featured-carousel-controls .carousel-control-next, .carousel-control-prev {
	display: unset;
	position: unset;
}

.featured-carousel .item-detail {
	display: flex;
	gap: 0.6rem;
}

.featured-carousel .item-detail img, .carousel-item {
	height: 20rem;
}

.featued-carousel .item-text {
	display: grid;
}
